.row{
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-evenly; /* Space between the logo and text */
    padding: 0px;
 /* Header background color */
    color:rgb(105, 19, 19) /* Text color */
}

.row h1{
    color: rgb(100, 45, 151);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 60px;
   
}
.row h5{
    color: rgb(100, 45, 151);
    /* text-align: center; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 100px;
}

.row p{
    margin-left: 120px;
}

.navbar img{
    margin-left: 100px;
}

/* .blue-violet-link {
    color: #8A2BE2; /* Blue-violet color hex code */

.navbar li a{
    font-size: 18px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    text-decoration: underline;
    /* color: blueviolet; */
    color: rgb(100, 45, 151);
}

.page2 h1{
    /* color: blueviolet; */
    color: rgb(100, 45, 151);
    /* font-weight: bold; */
    text-align: center;
    font-size: 60px;
}

.page2 h3{
    color: rgb(12, 11, 12);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.page2 p{
    color: rgb(12, 11, 12);
    /* font-weight: bold; */
    text-align: center;
    font-size: 17px;
}

.card:hover{
    background-color: blueviolet;
    color: white;
    transition: 0.3s;
}

.page3 img{
    width: 100px;
    height: 40px;
    color: black;
} 

.page3 h1{
    color: rgb(100, 45, 151);
    /* font-weight: bold; */
    text-align: center;
    font-size: 60px;
}

.page3 p{
    color: rgb(12, 11, 12);
    /* font-weight: bold; */
    text-align: center;
    font-size: 17px;
}

.page4{
    background-color: rgb(26, 22, 22);
    text-align: center;
}

.page4 img{
    top: 80%;
    text-align: center;
    height: 200px;
    width: 700px;
    left: 40%;
}

.page4 button{
    background-color: rgba(243, 239, 239, 0.801); /* Green */
    border: none;
    color:  rgb(100, 45, 151);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
    border-radius: 150px;
    font-weight: bold;

}

.page4 h1{
    color: white;
}

.page4 h5{
    color: rgb(104, 78, 14);
}
footer a{
    text-align: justify;
    text-align-last: justify;
    color: black;
}  

footer p{
    padding: 0 15px;
    color: black;
}

footer h6{

    color: blueviolet;
}

footer a:hover{
    color: blueviolet;
    text-decoration: underline;
}

footer p:hover{
    color: blueviolet;
    text-decoration: underline;
}